# .NET
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
.nuget/

# User-specific files
*.rsuser
*.suo
*.userprefs

# OS files
.DS_Store
Thumbs.db
